<%- include ../partials/header.ejs %>

<!-- Content for the Update page -->
<br><br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <center><h1><%= title %></h1></center>
            <br><br>
            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Full Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter your Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="Area code-000-0000"
                    name="qty" 
                    value="<%= item.qty %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Email</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter your email"
                    name="status" 
                    value="<%= item.status %>"
                    >
                </div>
                <br/>               
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/inventory/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>
<br><br><br>
<%- include ../partials/footer.ejs %>